/* ---------------------------
            GLOBAL
--------------------------- */

:root {
    --main-padding: 5px;
    --main-radius: 2rem;
    --hf_padding: 40px;
    --green:#2cc069;
    --lavender:#a29bfe;
    --rose: #f78fb3;
    --light-blue: #3dc1d3; 
    --black:#444;
    --fb:#4267B2;
    --tw:#1DA1F2;
    --ig:#ea3145;
    --pint:#BD081C;
    --drb:#ea4c89;
    --light-color:#777;
    --bg-color:#e6e6e6;
    --border:.1rem inset rgba(0,0,0,.2);
    --box-shadow:.5rem .5rem 1.2rem #ccc,
                -.5rem -.5rem 1.2rem #fff;
    --box-shadow-inset:.5rem .5rem 1.2rem #ccc inset,
                      -.5rem -.5rem 1.2rem #fff inset;
    --typewriterSpeed: 5s;
    --typewriterCharacters: 18;
}

* {
    /* margin: 5px 30px; */
    margin: 0;
    padding: 0 0 0.15rem;
    background: var(--bg-color);
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

/* body {
    background: var(--bg-color);
    margin: 10px 50px; /* Con este diseño queda más pequeña la letra y no le hago otra caja por fuera
}*/

/* ---------------------------
        CUSTOM SCROLLBAR
--------------------------- */

::-webkit-scrollbar {
    width: 0.8rem;
    background-color: var(--bg-color);
}
  
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        background-color: var(--bg-color);
        margin: 0.2em;
    }
    
        ::-webkit-scrollbar-thumb {
            border: 0.9em solid var(--box-shadow);
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
            background-color: var(--light-color);
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(to bottom, var(--rose), var(--lavender), var(--light-blue));
        }

/* ---------------------------
        DIV.CONTAINER
--------------------------- */

.container {
    display: grid;
    /* height: 100vh; */
    /* width: 100vw; */
    grid-template-columns: 90% 10%;
    grid-template-rows: 0.1fr 0.1fr /*fijo*/ 0.1fr 0.1fr 0.1fr 0.1fr /*fijo*/;
    grid-template-areas: 
        "nav toggler"
        "header header"
        "section section"
        "main main"
        "socialmedia socialmedia"
        "footer footer";
    grid-row-gap: 30px;
    margin: 10px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: var(--main-radius); /* Con esto le doy otra caja más por fuera */
    box-shadow: var(--box-shadow-inset);
}

.aside {
    background: var(--bg-color);
    grid-area: aside;
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow);
    margin: 0 82px;
}

/* ---------------------------
            NAVBAR
--------------------------- */

nav {
    background: var(--bg-color);
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow);
}

    .logo {
        font-size: 30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 80px;
        background: transparent;
        margin: 1rem 0;
    }

    .nav-menu {
        display: flex;
        margin-right: 40px;
        list-style: none;
    }

        .nav-menu li {
            background: transparent;
        }

            .nav-menu-link {
                font-family: 'consolas', 'Roboto Mono', monospace;
                font-size: 1rem;
                text-decoration: none;
                text-align: center;
                margin: 2.5rem 0.5rem;
                padding: 0.6rem 2rem;
                box-shadow: var(--box-shadow);
                border-radius: var(--main-radius);
                color: var(--black);
            }
    
                .nav-menu-link:hover {
                    box-shadow: var(--box-shadow-inset);
                    color: var(--green);
                    transition: ease-out .6s;
                }

                .nav-menu-link_close:hover {
                    box-shadow: var(--box-shadow-inset);
                    color: rgb(214, 49, 49);
                    transition: ease-out .6s;
                }

                .nav-menu-link_active {
                    box-shadow: var(--box-shadow-inset);
                    color: var(--green);
                }

                .nav-menu-link_close {
                    display: none;
                }
  
  /* TOGGLE - Menu Hamburguesa */
  .nav-toggle {
    color: var(--black);
    border: none;
    font-size: 3rem;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    margin: 1rem 0.5rem;
    padding: 1rem 1.5rem;
    box-shadow: var(--box-shadow);
    border-radius: 1.5rem;
    color: var(--black);
  
    display: none;
  }

  .fa-hamburger:hover {
    font-size: 4rem;
    background: -webkit-linear-gradient(90deg, #fcbc5c 25%, #67413a 25% 55%, #fcbc5c 55% 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
/* TABLET */
    @media (max-width: 1080px) {
        nav {
            justify-content: space-around;
        }
    
        .logo {
            font-size: 25px;
            padding: 0 20px;
            line-height: 60px;
        }
    
        .nav-menu {
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin: 0;
            background-color: var(--bg-color);
            position: fixed;
            top: 0;
            width: 100%;
            padding: 20px 0;
            z-index: 4;
            height: 100%;
            overflow-y: auto;
            left: 100%;
            transition: left 0.3s;
            box-shadow: var(--box-shadow-inset);
        }
    
        .nav-toggle {
            display: block;
        }
    
        .nav-menu_visible {
            left: 0;
        }
    
        .nav-toggle:focus:not(:focus-visible) {
            outline: none;
        }

        .nav-menu-link {
            font-size: 1.5rem;
        }

        .nav-menu-link_close {
            display: flex;
            color: var(--black);
            font-size: 25px;
            cursor: pointer;
            text-align: center;
            margin: 10rem 0.5rem 0;
            padding: 0.5rem 2.5rem;
            box-shadow: var(--box-shadow);
            border-radius: var(--main-radius);
            color: var(--black);
        }

        .fa-sign-out-alt {
            background: transparent;
        }
    }

/* MOBILE */
    @media (max-width: 768px) {
        nav {
            justify-content: space-around;
        }
    
        .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
        }
    
        .nav-menu {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        background-color: var(--bg-color);
        position: fixed;
        top: 0;
        width: 100%;
        padding: 20px 0;
        z-index: 4;
        height: 100%;
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
        box-shadow: var(--box-shadow-inset);
        }
    
        .nav-toggle {
            display: block;
        }
    
        .nav-menu_visible {
            left: 0;
        }

        .nav-toggle:focus:not(:focus-visible) {
            outline: none;
        }

        .nav-menu-link {
            font-size: 1.5rem;
        }

        .nav-menu-link_close {
            display: flex;
            color: var(--black);
            font-size: 25px;
            cursor: pointer;
            text-align: center;
            margin: 10rem 0.5rem 0;
            padding: 0.5rem 2.5rem;
            box-shadow: var(--box-shadow);
            border-radius: var(--main-radius);
            color: var(--black);
            background: transparent;
        }

        .fa-share-square {
            background: transparent;
        }

        .fa-sign-out-alt {
            background: transparent;
        }

        .fa-share {
            background: transparent;
        }
    }

/* ---------------------------
        TOGGLE DARK MODE
--------------------------- */

.toggler-container {
    background: transparent;
    grid-area: toggler;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow);
}

  body.dark {
    --black:#fff;
    --light-color:rgb(133, 133, 133);
    --bg-color:#222;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                      -.4rem -.4rem 1rem #333 inset;
  }
  
  .toggle {
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: #fdf5f0;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
    border: 2px solid #f1f5f9;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
  }
  .dark .toggle {
    border-color: #475569;
  }
  .toggle::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    height: 1rem;
    width: 1rem;
    background-image: linear-gradient(to top left, #f59e0b, #fef3c7);
    border-radius: 50%;
    transition: all 400ms ease-in-out;
  }
  .toggle::after {
    content: "";
    position: absolute;
    bottom: -2.1rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 45%;
    background-image: linear-gradient(to left, #7dd3fc, #0ea5e9);
    animation: wave 15s infinite linear;
    transition: all 300ms ease-in-out;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-checkbox:checked ~ .toggle {
    background-color: #1f2937;
  }
  
  .toggle-checkbox:checked ~ .toggle::before {
    background-image: linear-gradient(to top left, #e5e7eb, #d1d5db);
    left: 1.5rem;
  }
  
  .toggle-checkbox:checked ~ .toggle::after {
    background-image: linear-gradient(to left, #64748b, #334155);
    bottom: -1.8rem;
  }
  
  @keyframes wave {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }


/* --- Otra opción con otro formato de switch --- */


/* 
  #dark-mode-toggle{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--black);
    background: var(--bg-color);
}

#dark-mode-toggle:hover{
    color:var(--green);
    box-shadow: var(--box-shadow-inset);
}

body.active{
    --black:#fff;
    --light-color:#ddd;
    --bg-color:#222;
    --border:.1rem solid rgba(0,0,0,.4);
    --box-shadow:.4rem .4rem 1rem #111,
                -.4rem -.4rem 1rem #333;
    --box-shadow-inset:.4rem .4rem 1rem #111 inset,
                      -.4rem -.4rem 1rem #333 inset;
} */

/* ---------------------------
        HEADER & FOOTER
--------------------------- */

header, footer {
    padding: var(--main-padding);
    padding-left: var(--hf_padding);
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow);
    color: var(--black);
    margin: 15px 20px;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

/* Texto */

.texto-hf {
    text-align: left;
    display: flex;
    align-items: center;
    font-family: 'consolas', 'Roboto Mono', monospace;
    letter-spacing: -5px;
    font-size: 20px;
}

/* ---------------------------
            SECTION
--------------------------- */

section {
    grid-area: section;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    /* box-shadow: var(--box-shadow); */
    margin: 15px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.funny {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans",Sans-serif;
    font-weight: 800;
    font-size: 9vw;
    background: transparent;
    color: #fff;
    text-shadow: -9px 5px 15px rgb(0 0 0 / 20%);
}

.funny p {
    /* background: transparent; */
    display: block;
    margin-block: 0px;
    margin-inline: -90px;


        /*Para letra plana oscura*/
    /* color: var(--light-color);
    background: transparent; */
            
        /* Para letra prensada */
    /* background: #b1b1b1;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 4px 4px 3px; */
            
        /* Para letra salida */
    /* color: rgba(255, 255, 255, 0.4);
    text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
                8px 8px 12px rgba(0,0,0,0.08); */
    
    /* color: rgba(184, 184, 184, 0.411);
    text-shadow: -8px -8px 12px rgba(255,255,255,0.4),
                8px 8px 12px rgba(0,0,0,0.08); */
}

    #text-left {
        z-index: 1;
        background: transparent;
    }

    #img-duck {
        z-index: 2;
        background: transparent;
        filter: drop-shadow(-9px 5px 15px rgb(0 0 0 / 20%));
        width: 20vw;
    }

    #text-right {
        z-index: 2;
        background: transparent;
    }

.home {
    background: transparent;
}

/* ---------------------------
            MAIN
--------------------------- */

main {
    grid-area: main;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow-inset);
    margin: 15px;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    font-family: 'consolas', 'Roboto Mono', monospace;
}

.celeste {
    color: var(--light-blue);
    font-style: italic;
    background: transparent;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
    color: var(--black);
}

.welcome h1 {
    /* font-size: 3vw; */
    background: transparent;
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: 'consolas', 'Roboto Mono', monospace;
    position: relative;
    width: max-content;
    margin: 3rem 0;
}

.welcome h1::before, .welcome h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.welcome h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.welcome h1::after {
  width: 0.065em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }

/* ---------------------------
        FORMULARIO
--------------------------- */

.contact form {
    margin: 1rem auto;
    max-width: 70rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    background: transparent;
}

.contact form .box {
    padding: 1rem 1.5rem;
    width: 100%;
    background: none;
    color:var(--black);
    font-size: 1.3rem;
    text-transform: none;
    margin: 1rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    font-family: 'consolas', 'Roboto Mono', monospace;
}

.contact form textarea {
    height: 20rem;
    resize: none;
}

.contact form .box:focus {
    box-shadow: var(--box-shadow-inset);
}

.contact form .btn {
    font-family: 'consolas', 'Roboto Mono', monospace;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    margin: 2.5rem 0.5rem;
    padding: 0.6rem 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
}

.contact form .btn:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
    transition: ease-out .6s;
}

.contact form .btn-not {
    font-family: 'consolas', 'Roboto Mono', monospace;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    margin: 2.5rem 0.5rem;
    padding: 0.6rem 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
}

.contact form .btn-not:hover {
    box-shadow: var(--box-shadow-inset);
    color: rgb(214, 49, 49);
    transition: ease-out .6s;
}

/* ---------------------------
        SOCIAL MEDIA
--------------------------- */

.social-media {
    grid-area: socialmedia;
    background: var(--bg-color);
    padding: 10px;
    margin: 10px;
    border-radius: var(--main-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .social-media p {
        /* font-weight: bold; */
        font-family: 'consolas', 'Roboto Mono', monospace;
        color: var(--black);
        font-size: 2.2vw;
        display: flex;
        /* padding-right: 50px; */
        background: transparent;
        /* color: var(--light-color); */
        box-shadow: var(--box-shadow-inset);
        margin:.5rem;
        padding: 0.8rem;
        /* color: var(--black); */
        border-radius: .8rem; 
        text-decoration: none;
        text-align: center;
    }

    .social-media ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }

    .social-media ul li {
        padding: 0 10px;
        background: transparent;
    }

        .social-media ul li a {
            height: 5rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: var(--box-shadow);
            margin:.5rem;
            font-size: 2rem;
            color: var(--black);
            border-radius: .8rem; 
            text-decoration: none;
            text-align: center;
        }

            .fa-facebook-f:hover {
                box-shadow: var(--box-shadow-inset);
                color: var(--fb);
                transition: ease-out .6s;
            }

            .fa-twitter:hover {
                box-shadow: var(--box-shadow-inset);
                color: var(--tw);
                transition: ease-out .6s;
            }

            .fa-instagram:hover {
                box-shadow: var(--box-shadow-inset);
                color: var(--ig);
                transition: ease-out .6s;
            }

            .fa-pinterest-p:hover {
                box-shadow: var(--box-shadow-inset);
                color: var(--pint);
                transition: ease-out .6s;
            }

            .fa-dribbble:hover {
                box-shadow: var(--box-shadow-inset);
                color: var(--drb);
                transition: ease-out .6s;
            }

/* ---------------------------
        TEXTO SALUDO FINAL
--------------------------- */

.bye {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--black);
    letter-spacing: 1px;
    text-transform: uppercase;
    justify-content: space-between;
    margin: 30px 10px 0;
}

.bye p span {
    text-transform: lowercase;
    margin: 0 10px;
    font-size: 0.8rem;
}

.bye p strong {
    font-weight: 500;
}

.bye p strong:hover {
    font-size: 18px;
    background: linear-gradient(130deg, var(--rose), var(--lavender), var(--light-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s ease-in-out;
}

.fa-heart {
    font-size: 20px;
    color: red;
}

/* ---------------------------
        MEDIA QUERIES
--------------------------- */

    /* Medidas para PC escritorio */
    @media only screen and (min-width: 1420px) {
        .container {
            grid-template-columns: 90% 10%;
    grid-template-rows: 0.1fr 0.1fr /*fijo*/ 0.1fr 0.1fr 0.1fr 0.1fr /*fijo*/;
    grid-template-areas: 
        "nav toggler"
        "header header"
        "section section"
        "main main"
        "socialmedia socialmedia"
        "footer footer";
                }
    }

    /* Medidas para tablets (iPad como referencia) */

    @media only screen and (min-width: 768px) and (max-width: 1420px) {
        * {
            margin: 0;
            padding: 0;
        }

        .container {
            grid-template-columns: 100%;
            grid-template-rows: 0.1fr 0.1fr /*fijo*/ 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr /*fijo*/;
            grid-template-areas: 
                "nav"
                "toggler"
                "header"
                "section"
                "main"
                "socialmedia"
                "footer";
        }

        /*CORREGIR*/
        
        .funny {
            font-size: 6rem;
        }

        .funny p {
            margin-inline: -50px;
        }

        #img-tea {
            width: 15rem;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        main > img {
            width: 25rem;
        }

        .welcome {
            margin: 0 4rem 5vh;
        }

        .welcome h1 {
            font-size: 3rem;
            padding-bottom: 30px;
            margin: 2rem 0 0;
        }

        .welcome p {
            font-size: 1.5rem;
            padding-top: 8px;
        }
        
        .social-media {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
            .social-media p {
                font-size: 2rem;
            }
        
                .social-media ul li a {
                    height: 3.5rem;
                    width: 3.5rem;
                    font-size: 1.5rem;
                }

        header, footer {
            padding-left: 20px;
        }
    }

    /* Medidas para celulares (iPhone X como referencia) */

    @media only screen and (max-width:767px) {
        * {
            margin: 0;
            padding: 0;
        }
       
        .container {
            padding: 10px;
            grid-template-columns: 100%; /*No funciona si pongo 1fr o 12fr*/
            grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
            grid-template-areas: 
                "nav"
                "toggler"
                "header"
                "section"
                "main"
                "socialmedia"
                "footer ";
        }
    
        .funny {
            font-size: 13vw;
        }

        .funny p {
            margin-inline: -25px;
        }

        #img-duck {
            width: 23vw;
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
        }
            
        main > img {
            width: 15rem;
        }

        .welcome {
            margin: 0 2rem 2.5vh;
        }

        .welcome h1 {
            font-size: 1.7rem;
            padding-bottom: 30px;
            margin: 2rem 0 0;
        }

        .welcome p {
            font-size: 1rem;
            padding-top: 8px;
        }

        .contact form {
            padding: 0;
            margin: 0;
            box-shadow: none;
        }

        .contact form .box {
            font-size: 0.8rem;
        }

        .social-media {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
        }
        
            .social-media p {
                font-size: 1.5rem;
            }
        
            .social-media ul {
                display: flex;
                flex-direction: column;
                margin: 15px 0;
            }

                .social-media ul li a {
                    height: 3.3rem;
                    width: 3.3rem;
                    font-size: 1.3rem;
                }

        header, footer {
            padding-left: 20px;
        }

        .bye {
            font-size: 12px;
            letter-spacing: 2.3px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            margin: 35px 10px 20px;
        }
        
        .bye p:nth-of-type(1) {
            padding-bottom: 20px;
        }
        
        .fa-heart {
            font-size: 15px;
            padding: 5px;
        }
    }